DATABASE_URL=

# DJI Cloud API — 生产环境
DJI_AK=
DJI_SK=
DJI_BASE_URL=https://ta-api-cn.dji.com

# mock 模式: "static"=本地假数据 | "api"=Apifox mock 服务器 | 留空=生产
DJI_MOCK=static

# Unicorn Studio WebGL 场景
PUBLIC_UNICORN_PROJECT_ID=
